---
import stations from "../data/stations.normalized.json";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<header>
		<h1>Touch Radio</h1>
	</header>
	<main>
		<section>
			<h2>Available Stations</h2>
			<ul>
				{
					stations.map((station) => (
						<li>
							<strong>{station.name}</strong> - {station.country}{" "}
							({station.codec}, {station.bitrate}kbps)
						</li>
					))
				}
			</ul>
		</section>
	</main>
</BaseLayout>
