---
import stations from "../data/stations.normalized.json";
import BaseLayout from "../layouts/BaseLayout.astro";
import StationList from "../components/StationList.astro";
---

<BaseLayout>
	<header>
		<h1>Touch Radio</h1>
	</header>
	<main>
		<section>
			<h2>Available Stations</h2>
			<StationList stations={stations} />
		</section>
	</main>
</BaseLayout>
