---
import stations from "../data/stations.normalized.json";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<h1>Touch Radio Stations</h1>
	<ul>
		{
			stations.map((station) => (
				<li>
					<strong>{station.name}</strong> - {station.country} (
					{station.codec}, {station.bitrate}kbps)
				</li>
			))
		}
	</ul>
</BaseLayout>
